{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="col s6">
		<h2 class="center">Emprunter</h2>
		<form action="" method="post" id="takeForm">
			<label for="user">Id de l'adhérant</label>
			<input class="itemref" type="text" pattern="\d+" id="user" name="user" placeholder="XXXXXX">
			<div>
				<label>Références des documents empruntés</label>
				<div id="takedDoc">
					<input class="itemref" type="text" pattern="\d+" name="documents[]" placeholder="Référence">
				</div>
				<input class="add" id="addTakedDocument" value="Ajouter un document">
			</div>
			<input class="btn center" type="submit" value="Valider l'emprunt">
		</form>
	</div>

	<div class="col s6">
		<h2 class="center">Rendre</h2>
		<form action="" method="post" id="returnForm">
			<div>
				<label>Références des documents rendu</label>
				<div id="returnedDoc">
					<input class="itemref" type="text" pattern="\d+" name="documents[]" placeholder="Référence">
				</div>
				<input class="add" id="addReturnedDocument" value="Ajouter un document">
			</div>
			<input class="btn center" type="submit" value="Valider le retour">
		</form>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="/js/emprunt.js"></script>
{% endblock %}