{% extends 'base.html.twig' %}

{% block content%}
<form action="{{ path_for('verif_membre') }}" method="post">
    <div class="formular">
        <div>
            <label>Nom:</label>
            <input type="text" name="nom" placeholder="Doe" value="" required>
        </div>
        <div>
            <label>Prénom:</label>
            <input type="text" name="prenom" placeholder="Jonh" value="" required>
        </div>
        <div>
            <label>Téléphone:</label>
            <input type="text" name="telephone" placeholder="06 06 06 06 06" value="" required>
        </div>
        <div>
            <label>Adresse:</label>
            <input type="text" name="adresse" placeholder="5 rue du zinzin 54000" value="" required>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="email" placeholder="jonh.doe@gmail.com" value="" required>
        </div>
        <div>
            <label>Mot de passe:</label>
            <input type="password" name="password" value="" required>
        </div>
        <div>
            <label>Comfimation du mot de passe:</label>
            <input type="password" name="confirm_pass" value="" required>
        </div>
        <div>
            <label>Photo</label>
            <input id="iptPhoto" type="file" name='photo'>
        </div>

        <div>
            <input class="btn" type="submit" value="Valider">
        </div>
        
    </div>

</form>
{% endblock %}