{% extends "base.html.twig" %}

{% block content %}
	<h2>Demandes d'adhésion</h2>
	<table>
		<thead>
			<th>n° d'adhérent</th>		
			<th>Emission de la demande</th>		
		</thead>
	{% for user in users %}
		<tr>
			<td>{{ user['id'] }}</td>
			<td>{{ user['demande_adhesion']|date('d/m/Y') }}</td> 
		</tr>
	{% endfor %}
	</table>
{% endblock %}
