{% extends 'base.html.twig' %}

{% block content %}
    <form action="{{ path_for('addDocument') }}" method="post">
        <div class="formular">
            <div>
                <label for="">Nom :</label>
                <input type="text" name="nom" required>
            </div>
            <div>
                <label for="">Resumer :</label>
                <input type="text" name="resume" required>
            </div>
            <div>
                <label for="">Genre :</label> 
                <input type="text" name="genre" required>
            </div>
            
            <div id="cd_div" >
                <div>
                    <label for="">Artistes: </label>
                    <input type="text" name="artistes"> 
                </div>
                <br>
                <div>
                    <label for="">Maison de disque :</label>
                    <input type="text" name="maison_disque">
                </div>
            </div>

            <div id="dvd_div" >
                <div>
                    <label for="">Acteurs :</label>
                    <input type="text" name="acteurs">
                </div>
                <br>
                <div>
                    <label for="">Durée :</label>
                    <input type="text" patern="\d+" name="duree">
                </div>
            </div>

            <div id="livre_div">
                <div>
                    <label for="">Auteur :</label>
                    <input type="text" name="auteur">
                </div>
                <br>
                <div>
                    <label for="">Edition :</label>
                    <input type="text" name="edition">
                </div>
            </div>

            <div>
                <select name="documentable_type" id="type">
                    <option id="livre" value="medianet\models\Livre">Livre</option>
                    <option id="cd" value="medianet\models\CD">CD</option>
                    <option id="dvd" value="medianet\models\DVD">DVD</option>
                </select>
            </div>
            <div>
                <input class="btn" type="submit" value="Ajouter">
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{base_url()}}/js/ajout_document.js"></script>
{% endblock %}