{% extends "base.html.twig" %}

{% block content %}
	
	<form method="POST" action="{{ path_for('lookPwd') }}">
		<div class="formular">
			<h2>Changer de mot de passe</h2>
			<div>
				<label for="oldMdp">Ancien mot de passe</label>
				<input name="oldMdp" type='password' required>
			</div>
			<div>
				<label for="newMdp">Nouveau mot de passe</label>
				<input name="newMdp" type='password' placeholder="*******" required>
			</div>
			<div>
				<label for="confirmMdp">Confirmez ce mot de passe</label>
				<input name="confirmMdp" type='password' placeholder="*******" required>
			</div>
			<div>
				<input class="btn" type="submit" value="Valider">
			</div>
		</div>
	</form>
{% endblock %}
