{% extends 'base.html.twig' %}

{% block content %}

    <form action="{{ path_for('verifDoc',{id:document.id}) }}" method="post">
        <label for="">reference: </label><input type="text" name="reference" id="" value="">
        <input type="hidden" name="documentable_type" id="" value="">
        <input type="hidden" name="documentable_id" id="" value="">
        <label for="">Nom :</label><input type="text" name="nom" id="" value="">
        <label for="">Resumer :</label><input type="text" name="resume" id="" value="">
        <label for="">Genre :</label> <input type="text" name="genre" id="" value="">
        <label for="">Disponible :</label><input type="text" name="disponible" id="" value="">
        {% if document.type() == 'CD' %}
            <label for="">Artistes: </label><input type="text" name="artistes" id="" value="">
            <label for="">Maison de disque :</label><input type="text" name="maison_disque" id="" value="">
        {% endif %}
        {% if document.type() == 'DVD' %}
            <label for="">Acteurs :</label><input type="text" name="acteurs" id="" value="">
            <label for="">Durée :</label><input type="number" name="duree" id="" value="">
        {% endif %}
        {% if document.type() == 'Livre' %}
            <label for="">Auteur :</label><input type="text" name="auteur" id="" value="">
            <label for="">Edition :</label><input type="text" name="edition" id="" value="">
        {% endif %}

        <input type="submit" value="Modifier">
    </form>

{% endblock %}