{% extends "base.html.twig" %}

{% block content %}
	<div>
		<h2>Informations</h2>
		<label for="reference">reference</label>
		<input type="text" name="reference">
		<label for="idAdherent">numéro d'adhérent</label>
		<input type="text" name="idAdherent">
		
		<a href="{{ path_for('Emprunt') }}"> valider</a>
	</div>
{% endblock %}
