
{% if "error" is flashed %}
<div class="danger">
    <p>
        {{ get_data("error") }}
    </p>
</div>
{% endif %}

{% if "success" is flashed %}
<div class= "success">
    <p>
        {{ get_data("success") }}
    </p>  
</div>
{% endif %}

{% if "info" is flashed %}
<div class="info">
    <p>
        {{ get_data("info") }}
    </p>
</div>
{% endif %}