{% extends 'base.html.twig' %}
{% block title %}
    Liste des medias
{% endblock %}

{% block content %}
    {% include '_research.html.twig' %}
    <div class="card-deck">
        {% for media in medias %}
            {% include 'card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}