<nav>
    <h3 class="nav-title">Medianet</h3>
    <ul class="nav-items-group">
        <li class="nav-item"><a href="{{ path_for('home') }}" class="nav-link">Accueil</a></li>

	<li class="nav-item"><a href="{{ path_for('emprunter') }}" class="nav-link">Emprunter</a></li>
    	<li class="nav-item"><a href="{{ path_for('membres') }}" class="nav-link">Membres</a></li>

	<li class="nav-item"><a href="{{ path_for('watchRecap') }}" class="nav-link">Récapitulatif</a></li>

    </ul>
</nav>
