<nav>
    <h3 class="nav-title">Medianet Staff</h3>
    <ul class="nav-items-group">
	<li class="nav-item"><a href="{{ path_for('home') }}" class="nav-link">Emprunt/Retour</a></li>
    <li class="nav-item"><a href="{{ path_for('membres') }}" class="nav-link">Membres</a></li>
	<li class="nav-item"><a href="{{ path_for('watchRecap') }}" class="nav-link">Récapitulatif</a></li>
    </ul>
</nav>
