{% extends "base.html.twig" %}

{% block content %}
<h2>Informations</h2>
<div>
      	<label for = "reference">reference</label>
      	<input type = "text" name="reference">
</div>
<div>
      	<label for = "idAdherent">numéro d'adhérent</label>
      	<input type = "text" name="idAdherent">
</div><div>
{% endblock %}
