$media-large-size:60em !default;
$media-medium-size:30em !default;

@mixin card_deck($media-queries:$media-large-size,$media-queries-medium : $media-medium-size){
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
    @media (min-width: $media-queries-medium){
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: $media-queries) {
        grid-template-columns: repeat(3, 1fr);
    }
}

@mixin card($media-queries: $media-large-size){
    border: lightgray solid 1px;
    box-shadow: 3px 3px 3px grey;
    margin-left: 1%;
    margin-bottom: 4%;
    @media (min-width: $media-queries) {
        margin-left: 3%;      
    }
}
@mixin card_img(){
    height: auto;
    width: 50%;
    display: block;
    margin: 2% auto;
}

@mixin card_body($media-queries:$media-large-size,$media-queries-medium : $media-medium-size){
    margin:2%;
    
    @media (min-width: $media-queries-medium) and (max-width: $media-queries) {
        margin:5%;
        overflow: unset;
    }
}

@mixin card_title(){
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin card_resume(){
    display: flex;
    flex-direction: column;
    max-height: 40%;
    margin-bottom: 5%;
}

@mixin card_items(){
    max-height: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
}

@mixin card_bottom(){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}