@mixin flash {
    // border: 1px solid black;
    box-sizing: border-box;
    margin: 0.8rem 1.6%;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@mixin flash-text {
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    flex: 1 1;
    text-align: center;
}

@mixin flash-btn {
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 0.25em;
    margin-right: 0.25em;
    flex: 0 0;
    text-align: center;
}

@mixin success-flash($color: #94aa2a, $background: #D6F2D5){
    background-color: $background;
    color: $color;
    box-shadow: 3px 3px 5px $color;     
}

@mixin error-flash($color: #A62648, $background: #D6F2D5){
    background-color: $background;
    box-shadow: 3px 3px 5px $color;     
    color: $color;
}

@mixin info-flash($color: #3F7592, $background: rgb(55, 58, 55)){
    background-color: $background;
    box-shadow: 3px 3px 5px $color;
    color: $color;
}


