{% extends "documents/base.html.twig" %}

{% block documentDetails %}
    <p>De : {{document.documentable.artistes}}</p>
    <p>Maison de disque {{document.documentable.maison_disque}}</p>
{% endblock %}