<div id="card-{{ media.id }}" class="card">
    {% if media.disponible == 0 %}
        <img class="card-img-top disabled" src="https://www.slatkine.com/80701-large_default/book-07210910.jpg"  alt="">
    {% else %}
        <img class="card-img-top" src="https://www.slatkine.com/80701-large_default/book-07210910.jpg"  alt="">
    {% endif %}

    <div class="card-body">
        <div class="card-title">
            {{ media.type }} {{media.nom}}
        </div>
        <hr>
        <div class="card-content">
            <div class="card-items">
                <p>Genre : {{media.genre }}</p>
            </div> 
            <div class="card-items">
                {% if media.disponible == 0 %}
                     Non disponible
                {% else %}
                    Disponible
                {% endif %}
            </div>
        </div>
    </div>
</div>