{% extends "base.html.twig" %}

{% block content %}
	<h2>Mon adhesion</h2>
	<form action = "{{ path_for('sendAdhesion') }}" method= POST >
		<div>
			<label for="nom">Nom</label>
			<input type="text" name="nom" required>
		</div>
		<div>
			<label for="prenom">Prénom</label>
			<input type="text" name="prenom" required>
		</div>
		<div>
			<label for="email">E-mail</label>
			<input type="text" name="email" required>
		</div>
		<div>
			<label for="mdp">Mot de passe</label>
			<input type="password" name="mdp" required>
		</div>
		<div>
			<label for="adresse">Adresse</label>
			<input type="text" name="adresse" required>
		</div>
		<div>
			<label for="telephone">Téléphone</label>
			<input type="text"  pattern="\d+" name="telephone" required>
		</div>
			<input type="submit" value="Cliquez ici pour adhérer">
	</form>
{% endblock %}
