
{% if "error" is flashed %}
<div class="flash danger">
    <p>
        {{ get_data("error") }}
    </p>
    <i class="fas fa-times"></i>
</div>

{% elseif "flash success" is flashed %}
<div class= "success">
    <p>
        {{ get_data("success") }}
    </p>
    <i class="fas fa-times"></i>  
</div>
{% elseif "flash info" is flashed %}
<div class="info">
    <p>
        {{ get_data("info") }}
    </p>
    <i class="fas fa-times"></i>
</div>

{% endif %}