{% extends "base.html.twig" %}

{% block content %}
    <h2>Connection</h2>
    <form method="POST" action="{{ path_for('execConnexion') }}">
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Connexion">
        </div>
    </form>
{% endblock %}
