{% extends "base.html.twig" %}

{% block content %}
<form method="POST" action="{{ path_for('execConnexion') }}">
    <div class="formular">
        <h2>Connexion</h2>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" required>
        </div>
        <div>
            <input class="btn" type="submit" value="Connexion">
        </div>
    </div>
</form>
{% endblock %}