{% extends "base.html.twig" %}

{% block content %}
	<div>
		<h2>Informations</h2>
		<img src="" id="tete">
	</div><div>
		<label id="nom">Nom</label>
	</div><div>
		<label id="prenom">Prenom</label>
	</div><div>
		<label id="adresse">Adresse</label>
	</div><div>
		<label id="email">Email</label>
	</div><div>
		<label id="telephone">Téléphone</label>
	</div>
	<div>
		<h2>Gestion</h2>
	</div><div>
		<input type="submit" id="modifCompte" value="modifier les données">
	</div>
	<div>
		<a href="{{ path_for('updatePwd') }}" id="modifMdp">Changer le mot de passe</a>
	</div>
	<div>
		<input type="submit" id="delCompte" value="supprimer ce compte">
	</div>
	<div>
		<h2>Mes Emprunts</h2>
	</div>
{% endblock %}
